* {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.hind-bold {
  font-family: "Hind", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
nav {
  height: 9vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  height: 60px;
  transition: ease-in-out 0.3s;
}
nav .logo:hover {
  transform: scale(1.2);
}
nav .login-signup {
  height: 8vh;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .login-signup #Signup {
  height: 30px;
  width: 80px;
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid white;
  transition: ease-in-out 0.3s;
}
#Signup:hover{
  transform:scale(1.1);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px 20px 20px 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.modal-content h2 {
  text-align: center;
  padding: 10px;
}
.modal-content form {
  padding: 10px;
}
#username-signup {
  height: 30px;
  width: 250px;
  margin-left: 22px;
}
#email-signup {
  height: 30px;
  width: 250px;
  margin-left: 54px;
}
#password-signup {
  height: 30px;
  width: 250px;
  margin-left: 24px;
}
#Signup-submit {
  height: 30px;
  width: 90px;
  border-radius: 16px;
  border: none;
  background-color: rgb(33, 32, 32);
  color: white;
  position: relative;
  left: 36%;
  cursor: pointer;
}
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.signuppop form {
  border-radius: 10px;
}

nav .login-signup #Login {
  height: 30px;
  width: 60px;
  margin-left: 10px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.503);
  color: white;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid white;
  transition: ease-in-out 0.3s;
}
#Login:hover {
  transform: scale(1.1);
}
.modal-2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content-2 {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px 20px 20px 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 48%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-content-2 h2 {
  text-align: center;
  padding: 10px;

  /* font-family: kalnia glaze; */
}
.modal-content-2 form {
  padding: 10px;
}
#username-login {
  height: 30px;
  width: 250px;
  margin-left: 22px;
}
#email-login {
  height: 30px;
  width: 250px;
  margin-left: 54px;
}
#password-login {
  height: 30px;
  width: 250px;
  margin-left: 24px;
}
#Login-submit {
  height: 30px;
  width: 90px;
  border-radius: 16px;
  border: none;
  background-color: rgb(42, 40, 40);
  color: white;
  position: relative;
  left: 36%;
  cursor: pointer;
}
.loginpop form {
  border-radius: 10px;
  /* position: relative; */
}
#alert {
  height: 30px;
  width: auto;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  border-radius: 3px;
  color: brown;
  background-color: lightgoldenrodyellow;
  opacity: 0;
}
body {
  background-color: black;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  position: absolute;
  top: 20%;
  left: 20%;
  color: #ddd;
  font-size: 5rem;
}
.head span {
  opacity: 0;
  display: inline-block;
  animation: animate 2s linear forwards;
}
@keyframes animate {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
video {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  margin-left: 10px;
}
.head span:nth-child(1) {
  animation-delay: 1s;
  letter-spacing: 0.17em;
}
.head span:nth-child(2) {
  animation-delay: 1.2s;
  letter-spacing: 0.17em;
}
.head span:nth-child(3) {
  animation-delay: 1.4s;
  letter-spacing: 0.17em;
}
.head span:nth-child(4) {
  animation-delay: 1.6s;
  letter-spacing: 0.17em;
}
.head span:nth-child(5) {
  animation-delay: 1.8s;
  letter-spacing: 0.5em;
}
.head span:nth-child(6) {
  animation-delay: 2s;
  letter-spacing: 0.17em;
}
.head span:nth-child(7) {
  animation-delay: 2.2s;
  letter-spacing: 0.17em;
}
.head span:nth-child(8) {
  animation-delay: 2.4s;
  letter-spacing: 0.17em;
}
.head span:nth-child(9) {
  animation-delay: 2.6s;
  letter-spacing: 0.1em;
}
.head span:nth-child(10) {
  animation-delay: 2.8s;
  letter-spacing: 0.1em;
}
.description {
  color: white;
  position: absolute;
  top: 40%;
  left: 18%;
  width: 1000px;
  animation: animate2 2s linear;
}
.bold {
  font-size: larger;
}
.description ul li {
  font-size: 14px;
}
@keyframes animate2 {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
