<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GHOST SHARE-Login</title>
    <!-- <link rel="stylesheet" href="/static/signup3.css" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/signup4.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/signup3.js') }}"
    ></script>
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="#">
          <img
            src="/static/logo.png"
            alt="logo "
            style="height: 60px; width: 120px; padding: 2px 0px 0px 10px"
          />
        </a>
        <div id="Dash">Back</div>
      </div>
    </div>
    <div class="container">
      <h2 style="margin-bottom: 20px">Sign up:</h2>
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" required /><br />
      <form id="loginForm" onsubmit="checkUsername(event)">
        <label for="username">Username :</label>
        <input type="text" id="username-login" name="username" required /><br />
        <label for="password">Password :</label>
        <input
          type="password"
          id="password-login"
          name="password"
          required
        /><br />
        <button type="submit" id="loginButton">Sign up</button>
      </form>
      <p id="login-mark">
        Already have an account? <a href="#" id="login_redirect"> Login</a>
      </p>
      <div id="alert">
        Username or Password is incorrect ! Please check your credentials..
      </div>
    </div>
  </body>
</html>
